<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        xsi:schemaLocation="
	 	http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
	 	">
    <!-- 合同管理模块-->
    <bean id="cmModuleImpl" class="cn.com.rexen.roffice.cm.web.module.CmModuleImpl"/>
    <service interface="cn.com.rexen.core.api.web.IModule" ref="cmModuleImpl"/>
    <!--项目合同菜单-->
    <bean id="contractMenuImpl" class="cn.com.rexen.roffice.cm.web.menu.ContractMenuImpl"/>
    <service interface="cn.com.rexen.core.api.web.IMenu" ref="contractMenuImpl"/>
    <!--项目合同发票菜单-->
    <bean id="invoiceMenuImpl" class="cn.com.rexen.roffice.cm.web.menu.InvoiceMenuImpl"/>
    <service interface="cn.com.rexen.core.api.web.IMenu" ref="invoiceMenuImpl"/>
    <!--项目合同清单菜单-->
    <bean id="contractDetailMenuImpl" class="cn.com.rexen.roffice.cm.web.menu.ContractDetailMenuImpl"/>
    <service interface="cn.com.rexen.core.api.web.IMenu" ref="contractDetailMenuImpl"/>

</blueprint>
